*{ margin: 0%;}

header{ 
display: flex;
background-color: black;
justify-content: space-between;
align-items: center;
}

header ul{ display: flex;
    }

li { margin: 0.5rem;
    }

img { border-radius: 50%;
         }

a {text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size:larger;
             }
a:hover { color:bisque;
                         }

h1 {color: aliceblue;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
text-align:center;}
h2 {color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align:center;}